.table-responsive-vertical.shadow-z-1(ng-if="vm.projects.size")
    table#table.table.table-hover.table-bordered.table-mc-light-green
        thead
            tr
                th Проект
                th % выполненной работы
                th % прошедшего времени
                th Выгрузка данных в файл формата .xls
                th Индикатор
        tbody
            tr(tg-repeat="project in vm.projects")
                td(
                    tg-bind-scope
                    data-title="projectName"
                ) {{::(project.get('name'))}}
                td(
                    data-title="work_done_percent"
                ) {{:: project.get('work_done_percentage')}}
                td(data-title="past_time_percentage") {{:: project.get('past_time_percentage')}}
                td(
                    data-title="agile-data-export"
                )
                    img(
                        tg-export-agile-data
                        data-project-id="{{:: project.get('id')}}",
                        src='/#{v}/images/xls.png',
                        alt='Выгрузка в .xls',
                        style='width:40px; height:auto; cursor: pointer'
                    )
                td(
                    data-title="indicator",
                    style="background-color: #000000a8"
                    ng-if="((project.get('past_time_percentage') - project.get('work_done_percentage')) > 50)"
                )
                td(
                    data-title="indicator",
                    style="background-color: #ff0000cc"
                    ng-if="(project.get('past_time_percentage') - project.get('work_done_percentage')) > 30 && (project.get('past_time_percentage') - project.get('work_done_percentage')) < 50"
                )
                td(
                    data-title="indicator",
                    style="background-color: #efa723"
                    ng-if="(project.get('past_time_percentage') - project.get('work_done_percentage')) > 0 && (project.get('past_time_percentage') - project.get('work_done_percentage')) < 30"
                )
                td(
                    data-title="indicator",
                    style="background-color: #539a53"
                    ng-if="((project.get('work_done_percentage') >= project.get('past_time_percentage')) && (project.get('past_time_percentage') > 0))"
                )
                td(
                    data-title="indicator",
                    style="background-color: #f3f0f0; border: 1px solid #e0e0e0"
                    ng-if="project.get('past_time_percentage') == 0"
                )